.container {
}

small {
  color: #737373;
  font-weight: normal;
}

.form-group {
  margin-bottom: 30px;
}

.help-block {
  width: 70%;
}

legend {
  font-size: 25px;
}

.form-control {
  width: 70%;
}

#email-form{
  text-align: center;
}

#email-form #emailaddress{
  margin: 0 auto;
  width: 300px;
}

a.btn.disabled {
  pointer-events: auto;
}

.header-logo-row{
  margin-bottom: 20px;
}

.main-logo{
  width: 90px;
  margin: 30px auto 0 auto;
  display: block;

}

.navbar-header .fa{
  font-size:18px;
  margin: 13px 15px 12px 0px;
}


.realstrong{
  font-weight:bold;
  text-decoration: underline;
}

.footer-logo{
  height: 50px;
  margin-bottom: 30px;
}

#ride-austin-logo{
}

#tequila-logo{
  height: 60px;
}

#sponsors-title{
  margin-bottom:20px;
}

.search-row{
  background:#eee;
  border-radius:50px;
  padding: 15px 40px 0 40px;
}

.search-row input{
  padding: 6px 10px;
  margin-bottom: 15px;
  min-width: 300px;
}

.search-row a{
  float:right;
  margin-bottom: 15px;
}

@media (min-width: 767px) {
  .search-row input{
    float:left;
  }
}


@media (max-width: 600px) {
  .search-row{
    border-radius:20px;
    padding: 15px 15px 0 15px;
  }

  .search-row a,
  .search-row input{
    width: 100%;
    min-width: auto;
  }
}


input{
  border: 1px solid #ddd;
  border-radius: 4px;
}

.job-list{
  margin-top: 20px;
}

.job-list p{
  font-size:16px;
  margin-top:5px;
}

.filters{
  text-align: right;
  margin-top:20px;
}

.filters a{
  margin-left: 10px;
  transition: none;
}

.filters a:first-child{
  margin-left: 0px;
}

@media (max-width: 600px) {
  .filters a{
    margin-left: 7px;
    font-size: 14px;
  }
}

.filters .active{
  text-decoration: underline;
  font-weight:600;
}

.text-container{
  padding: 40px 0 80px;
}

.text-center{
  text-align: center;
}

h1{
  color:#111;
  margin-bottom: 20px;
}

.subtitle{
  line-height: 24px;
}

.disclaimer{
  margin-top:40px;
}

#mc_embed_signup{
  text-align:left;
}

p{
  margin-bottom: 20px;
}

h6{
  text-transform: inherit;
  text-align: left;
  color:#111;
  font-size:18px;
  font-weight:bold;
  margin-bottom:10px;
}

.event-row{
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

.navbar-toggle > .fa{
  margin: 0 auto!important;
}

.nav.navbar-nav{
  margin-top:0;
}

p.small{
  font-size:15px;
  font-weight:500;
}
p.strong{
  font-weight:600;
}

.job-details label{
  min-width: 200px;
}

h5{
  text-align: center;
}

.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    font-weight: 400;
}

.donate-form{
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-top: -1px;
}

@media (max-width: 767px) {
  .donate-form{
    margin-left: 0;
    margin-top: 15px;
  }
}

@media (min-width: 768px) {
    .lead {
        font-size: 18px
    }
}


@media (max-width: 767px) {
  .main-logo{
    margin-top: 80px;
    width: 60px;
  }

  nav .navbar-brand{
    margin:10px 0;
  }

  .navbar-header .fa{
    margin: 21px 20px 20px 0;
  }
}