---
layout: default
title: Jobs
---

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>Jobs</h1>
      <h5 class="subtitle">
        Find your next rock star job
        <br/>
        Find your next rock star staff member
        <br/>
        in Austin, Texas
      </h5>
      <div class="search-row clearfix">
        <a class="btn btn-primary" href="/job-form/">Post a job now</a>
        <input id="search_term" name="term" placeholder="Search: 'waiter', 'barman', ..." type="text">
      </div>

      <div class="filters">
        <a href="#" class="active">All</a>
        <a href="#">Floor</a>
        <a href="#">BOH</a>
        <a href="#">Bar</a>
        <a href="#">Management</a>
        <a href="#">Hotel</a>
      </div>

      <ul class="job-list">
        {% for page in site.pages reversed %}
          {% if page.layout == 'jobs' and page.highlighted %}
            <li class="highlighted">
              <a class="page-link" href="{{ page.url | prepend: site.baseurl }}" title="{{ page.title }}">{{ page.title }}</a>
              <span class="pill business_name">@ {{ page.business_name }}</span>
              {% if page.compensation %}
              <span class="pill compensation"> - {{ page.compensation }}</span>
              {% endif %}
              <span class="pill category {{ page.category }}">
              {{ page.category }}
              {% if page.date_posted %}
                <span class="pill date_posted"> - {{ page.date_posted | date: "%-d %B"}}</span>
              {% endif %}
              </span>
            </li>
          {% endif %}
        {% endfor %}
        {% for page in site.pages reversed %}
          {% if page.layout == 'jobs' %}
            {% unless page.title contains 'Job Title' %}
              {% unless page.highlighted %}
                <li>
                  <a class="page-link" href="{{ page.url | prepend: site.baseurl }}" title="{{ page.title }}">{{ page.title }}</a>
                  <span class="pill business_name">@ {{ page.business_name }}</span>
                  {% if page.compensation %}
                    <span class="pill compensation"> - {{ page.compensation }}</span>
                  {% endif %}
                  <span class="pill category {{ page.category }}">
                  {{ page.category }}
                  {% if page.date_posted %}
                    <span class="pill date_posted"> - {{ page.date_posted | date: "%-d %B"}}</span>
                  {% endif %}
                  </span>
                </li>
              {% endunless %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </ul>
      <div id="no-jobs" style="display: none;padding-top:20px;text-align:center;">
        <h5>No jobs match your search.</h5>
      </div>

      <div class="disclaimer">
        <h5 id="">Pease note</h5>
        <p class="small">
          All these services are FREE, just trying to help each other out.
          If you would like <a href="https://www.facebook.com/groups/intheweedsatx" target="_blank">join our group</a>.
          Jobs expire after 30days.  If the job is no longer available, please contact me at <a href="mailto:kc@intheweedsjobs.com">kc@intheweedsjobs.com</a> and I'll remove it.
        </p>
      </div>
    </div>
  </div>

  <script src="/js/jquery.min.js"></script>
  <script>
    $(document).ready(function() {

      $('#search_term').keyup(function (e) {
        var searchTerm = e.target.value.toLowerCase();
        $(".job-list li").each(function(i,obj){
          $(obj).show();
          console.log($(obj).text().toLowerCase());
          if(!$(obj).text().match(new RegExp(searchTerm, 'i'))){
            $(obj).hide();
          }
        });
        if($(".job-list li:visible").length === 0){
          $("#no-jobs").show();
        } else {
          $("#no-jobs").hide();
        }
      });

      $('.filters a').click(function(event){
        event.preventDefault();
        $("#no-jobs").hide();
        $(this).addClass('active').siblings('.active').removeClass('active');
        $('#search_term').val('');
        var cat = this.innerHTML.toLowerCase();
        if(cat === "all"){
          $(".job-list li").show();
        } else {
          $(".job-list li").hide();
          $(".category." + cat).parent().show();
        }
        if($(".job-list li:visible").length === 0){
          $("#no-jobs").show();
        } else {
          $("#no-jobs").hide();
        }
      });

    });
  </script>
</div>
