---
layout: default
title: Jobs
---

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>Jobs</h1>
      <strong>
        <p>
           Find your next rock star staff member - Find your next rock star job.  If you would like, <a href="https://www.facebook.com/groups/intheweedsatx" target="_blank">join our group</a>.
          <br/>
          All these services are FREE, just trying to help each other out.
        </p>
      </strong>
      <div class="search-row clearfix">
        <input id="search_term" name="term" placeholder="Search: 'waiter', 'barman', ..." type="text">
        <a class="btn btn-primary" href="/intheweeds/job-form/">Post a job now</a>
      </div>

      <div class="filters">
        <a href="#" class="active">All</a>
        <a href="#">Floor</a>
        <a href="#">BOH</a>
        <a href="#">Bar</a>
        <a href="#">Management</a>
        <a href="#">Hotel</a>
      </div>

      <ul class="job-list">
        {% for page in site.pages reversed %}
            {% if page.layout == 'jobs' and page.status == 'searching' %}
              {% unless page.title contains 'Job Title' %}{% comment %} Filter out the example page {% endcomment %}
              <li>
                <a class="page-link" href="{{ page.url | prepend: site.baseurl }}" title="{{ page.title }}">{{ page.title }}</a>
<!--
                {% if page.role %}
                <span class="pill role">{{ page.role }}</span>
                {% endif %}
-->
                <span class="pill organization">@ {{ page.organization }}</span>
                <span class="pill rate">{{ page.rate }}</span>
                <span class="pill category {{ page.category }}">{{ page.category }}</span>
              </li>
              {% endunless %}
            {% endif %}
        {% endfor %}
      </ul>
      <div id="no-jobs" style="display: none;padding-top:20px;text-align:center;">
        <h5>No jobs match your search.</h5>
      </div>
    </div>
  </div>

  <script src="/intheweeds/js/jquery.min.js"></script>
  <script>
    $(document).ready(function() {

      $('#search_term').keyup(function (e) {
        var searchTerm = e.target.value.toLowerCase();
        $(".job-list li").each(function(i,obj){
          $(obj).show();
          console.log($(obj).text().toLowerCase());
          if(!$(obj).text().match(new RegExp(searchTerm, 'i'))){
            $(obj).hide();
          }
        });
        if($(".job-list li:visible").length === 0){
          $("#no-jobs").show();
        } else {
          $("#no-jobs").hide();
        }
      });

      $('.filters a').click(function(event){
        event.preventDefault();
        $("#no-jobs").hide();
        $(this).addClass('active').siblings('.active').removeClass('active');
        $('#search_term').val('');
        var cat = this.innerHTML.toLowerCase();
        if(cat === "all"){
          $(".job-list li").show();
        } else {
          $(".job-list li").hide();
          $(".category." + cat).parent().show();
        }
        if($(".job-list li:visible").length === 0){
          $("#no-jobs").show();
        } else {
          $("#no-jobs").hide();
        }
      });

    });
  </script>
</div>
