<footer class="site-footer container">
  <div class="alert alert-success">
  <ul class="social-media-list row">
    <li>
      Your next job is only a swipe away! Download the <a href="//jobbery.net">Jobbery</a> app and start swiping.
      <br/><br/>
    </li>
  </ul>
  <ul class="social-media-list row">
    <li>
      <img class="footer-logo" src="/images/jobbery.png" alt=""/>
    </li>
    <li>
      <a href="https://itunes.apple.com/us/app/jobbery/id1171230509?ls=1&mt=8" target="_">
        <img class="footer-logo" src="/images/app-store.png" alt="">
      </a>
    </li>
    <li>
      <a href="https://play.google.com/store/apps/details?id=net.jobbery.jobbery" target="_">
        <img class="footer-logo" src="/images/google-play.png" alt="">
      </a>
    </li>
  </ul>
  </div>
  <h5 id="sponsors-title">sponsors</h5>
  <ul class="social-media-list row">
    <li>
      <a href="http://www.branca.it/Fratelli-Branca/index/ENG/" target="_blank">
        <img class="footer-logo" src="/images/oasis-logo.png"/>
      </a>
    </li>
    <li>
      <a href="http://longhornlawfirm.com" target="_blank">
        <img id="longhorn-logo" class="footer-logo" src="/images/longhorn.png"/>
      </a>
    </li>
    <li>
      <a href="https://pos.toasttab.com/" target="_blank">
        <img id="toast-logo" class="footer-logo" src="/images/toast-logo.jpg"/>
      </a>
    </li>
  </ul>

</footer>

<script id="template-activity-item" type="text/template">
<li class="item">
  <a href="https://github.com/<%= actor.login %>" class="avatar"><img src="<%= actor.avatar_url %>"></a>
  <div class="content">
    <a href="<%= link %>" class="name"> @<%= actor.login %></a> <%= event_type %>
  </div>
  <span class="date"><%= created_at %></span>
</li>
</script>

<script id="template-events-item" type="text/template">
  <div class="post">
      <h3>
        <a href="<%= link %>"><%= title %></a>
      </h3>
  </div>
</script>

<script id="template-jobs-item" type="text/template">
  <div class="post">
      <h3>
        <a href="<%= link %>"><%= title %></a>
      </h3>
  </div>
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92774611-1', 'auto');
  ga('send', 'pageview');

</script>

<script src="//opensourcedesign.net/js/jquery.min.js"></script>
<script src="//opensourcedesign.net/js/underscore-min.js"></script>
<script src="//opensourcedesign.net/js/site.js"></script>
