<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/">
                <img src="/images/intheweeds-name-logo.png" class="logo" alt="InTheWeeds logo"/>
            </a>
            <a class="page-scroll" href="https://www.facebook.com/groups/intheweedsatx/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a class="page-scroll" href="https://www.instagram.com/intheweedsusa/" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="/">Jobs</a>
                </li>
                <li>
                    <a class="page-scroll" href="/events">Events</a>
                </li>
                <li>
                    <a class="page-scroll" target="_blank" href="https://atxpinery.com/collections/in-the-weeds">Shop</a>
                </li>
                <li>
                    <a class="page-scroll" href="/privacy">Privacy</a>
                </li>
                <li>
                    <a class="page-scroll" href="/terms">Terms</a>
                </li>
                <li>
                    <a class="page-scroll" href="https://www.facebook.com/groups/intheweedsatx/" target="_blank">Join our community</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">
    <div class="row header-logo-row">
        <div class="col-md-12 ">
            <img src="/images/intheweeds-hero2.jpg" class="hero" alt="InTheWeeds hero"/>
        </div>
    </div>
</div>
