<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/intheweeds/">
                <img src="/intheweeds/images/intheweeds-name-logo.png" class="logo" alt="InTheWeeds logo"/>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/intheweeds/about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="/intheweeds/">Jobs</a>
                </li>
                <li>
                    <a class="page-scroll" href="/intheweeds/events">Events</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">

<div class="row header-logo-row">
    <div class="col-md-10 col-md-offset-1 ">
        <img class="main-logo" src="/intheweeds/images/intheweeds-logo.png"/>
    </div>
</div>
</div>
